---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Divider from "../components/Divider.astro";

import { languages } from "../data/languages";
import { projects } from "../data/projects";
---

<Layout title="Mayve — Portfolio">
  <main class="layout">
    <Sidebar languages={languages} />

    <Divider orientation="vertical" />

    <section class="right">
      <div class="projects-grid">
        {projects.map((p) => (
          <ProjectCard {...p} />
        ))}
      </div>
    </section>
  </main>
</Layout>

<style>
  .layout {
    width: 100vw;
    min-height: 100vh;
    padding: 3.5rem 2rem;

    display: grid;
    grid-template-columns: 260px 1px 1fr;
    gap: 0 2rem;
    align-items: start;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  @media (max-width: 700px) {
    .layout {
      grid-template-columns: 1fr;
      padding: 2rem 1.25rem;
    }

    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
</style>